html{
    margin: 40px;
    height: 100%;

}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    text-align: center;
    background: #eee;
    padding: 3em;
    color: #333;
}
.carousel{
    display: flex;
    align-content: center;
}
.carousel-inner img{
    width: 100%;     
    height: 980px;   
    margin: auto;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-carousel{
    grid-column:  1/4;
    grid-row: 2;
}


.introduccion{
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}


.contenedor-detalle{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap:1em;
   
}

.foto-diagnostico img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain; /* esta solucion no funciona en internet exoplorer */
    border-radius: 15px !important;
}
.foto-diagnostico{
    grid-column: 1 / 4;
    
}

.parrafo-contenido{
    text-shadow: 2px 2px 5px black;
    text-decoration: underline;
    line-height: 3rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
    height: 500px;
    grid-column:  1 / 3 ;
    grid-row: 2;
}

.estilo{
    display: flex;
    align-content: center;
    justify-content: center;
}
label.error{
    margin-top: 0.625em;
    color: red;

}
#formulario{
    width: 80em;
    display: inline-block;
    background-color: #F1F1F1;
    font-style: italic;
    border-radius: 0.625em;
    padding-left: 0.625em;
    padding-top: 0.625em;
}
#boton{
    margin: 1em;
}
#comentario{
    height: 6.25em;
    width: 79em;
    resize: none;
}
#caja{
    margin-top: 1.0em;
    display: flex;
    flex-direction: column;
}