html{
    height: 100%;

}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    text-align: center;
    background: #eee;
    padding: 4.3em;
    color: #333;
}
.carousel{
    display: flex;
    align-content: center;
}
.carousel-inner img{
    width: 100%;     
    height: 970px;   
    margin: auto;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-carousel{
    grid-column:  1/4;
    grid-row: 2;
}

.introduccion{
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}